@import url('../fonts/fonts.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.page {
    font-family: 'Raleway Bold', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
}

.page::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.page__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.page__title {
    font-size: 116px;
    line-height: normal;
    letter-spacing: 4.06px;
    text-transform: uppercase;
    max-width: 740px;
    text-align: center;
    margin: 60px auto 0;
    z-index: 1;
    height: 408px;
}

.page__title:hover {
    cursor: default;
}

.page__title::after {
    content: '*';
}

.page__title:hover::before {
    content: 'На самом деле нет. \AВажнее &mdash; научиться ошибаться.';
    position: absolute;
    top: 180px;
    right: 20px;
    cursor: default;
    font-family: 'Raleway Regular';
    font-size: 35px;
    line-height: 35px;
    border-radius: 20px;
    text-align: left;
    text-transform: initial;
    letter-spacing: normal;
    border: 2px solid #000;
    background: #FFF;
    padding: 36px 44px;
    max-width: 740px;
    height: 142px;
    box-shadow: 0 12px 0 #000;
    white-space: pre;
}